html{
    font-size: 62.5%;
}

body{
    background: url(../images/dalmatian-spots\ \(1\).svg);
    margin: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    width: 90vw;
    margin-left: 5vw;
}

h2{
    margin: 0 0 0 0;
}

.logo{
    font-size: 8vh;
    text-align: center;
    background-color: bisque;
    font-family: Lakeshore;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -1rem;
}    

.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    height: 85.5vh;
        overflow: hidden;
}

.detailed{
    position:relative;
    width: 90rem;
    list-style: none;
    /* align-self: self-end; */


}

.detailed--item_image{
    position: relative;
    display: block;
    top: 2.5rem;  
    left: 3rem;
    width: 100vh;
    height: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin-bottom: 3px;
    z-index: -1;
    
}

.detailed--item_title{
    background-color: bisque;
    display: block;
    width: 50ch;
    font-family: Airstream;
    font-weight: normal;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

}

.gallery{
    list-style: none;
    overflow:auto;
    min-width: 22rem;
    max-width: 22rem;
    height: 85 vh;
    

}

.gallery--item{
    border: 2px solid gray;
    overflow: hidden;
    min-width: 20rem;
    max-width: 20rem;
    margin: 4px;
    border-radius: 1rem;
}

.gallery--item:hover {
    filter: blur(2px);
    
}

.gallery--item_image{
    display: block;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    
}

.gallery--item_title{
    display: block;
    width: 20rem;
    font-size: 2.5rem;
    background-color: bisque;
    text-align: center;
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.detailed--item_title:hover{
        position: relative;
        bottom: 11rem;
        white-space: initial;
        overflow: visible;
        text-overflow:none;
        
}

@media (orientation:landscape) {
    header{
        height: 15vh;
    }
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .logo{
        letter-spacing: -0.8rem;
    }

    .detailed--item_title{
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis; */
        /* width: 70vw;
        font-size: 8vw; */
    }

    /* .detailed--item_title:hover{
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        
    } */

    .gallery--item{
        min-width: 15rem;
        max-width: 15rem;
        margin: 4px;
    }

    .gallery--item_image{
        display: block;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        
    }
    
    .gallery--item_title{
        display: block;
        width: 15rem;
        font-size: 2.5rem;
        background-color: bisque;
        text-align: center;
    }

}

@media (orientation:portrait) {
    header{
        height: 10vh;
    }

        body{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

    .logo{
        font-family: Lakeshore;
        font-size: 4.5vh;
        font-weight: bold;
        font-style: normal;
    }
    .main{
        flex-direction: column;
        height: 90vh;

    }

    .detailed{
        position: relative;
        width: 100vw;
        height: 40vh;
        align-content: center;
    }

    .detailed--item{
        width: 60vw;
        justify-content: center;
    }

    .detailed--item_image{
        height:27vh;
        width: auto;
        left: 10vw;
    }

    .detailed--item_title{
        width: 64vw;
        font-size: 8vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        
    }

    .detailed--item_title:hover{
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        
    }

    .gallery{
        display: flex;
        padding: 0 0 0 0;
        margin-left: 10vw;
        min-width: 75vw;
        max-width: 80vw;
        height: 40vh;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto ;
    }

    .gallery--item{
        border: 2px solid gray;
        overflow: hidden;
        min-width: 20vw;
        max-width: 20vw;
        margin: 2.5vw;
    }
    
    .gallery--item:hover {
        filter: blur(2px);
        
    }
    
    .gallery--item_image{
        display: block;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        
    }

    .gallery--item_title{
        display: block;
        width: 20vw;
        font-size: 1rem;
        background-color: bisque;
        text-align: center;
    }
    
    
}