@font-face {
    font-family: 'Lakeshore';
    src: url('LakeshoreDrive.woff2') format('woff2'),
        url('LakeshoreDrive.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airstream';
    src: url('Airstream.woff2') format('woff2'),
        url('Airstream.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

